header#header
  .logo
    a(href='/') RATS
  a(href='#menu') Menu
nav#menu
  ul.links
    li
      a(href='/history') History
    li
      a(href='/projects') Project
    li
      a(href='/activities') Activity
    li
      a(href='/notice') Notice
    li
      a(href='/member') Member
