extends ../layout

block content
  #main.container
    .flex-title
      div
        h2 Activity
      div
        ul.actions
          li
            a.button.special(href='/projects/new_post') &#xCD94;&#xAC00;
