extends layout

block content
  block banner
  section.banner.full
    article
      img(src='/images/slide01.jpg', alt='')
      .inner.post
        header
          h3 대충 제목이라는 내용1
    article
      img(src='/images/slide02.jpg', alt='')
      .inner.post
        header
          h3 대충 제목이라는 내용2
    article
      img(src='/images/slide03.jpg', alt='')
      .inner.post
        header
          h3 대충 제목이라는 내용3
    article
      img(src='/images/slide04.jpg', alt='')
      .inner.post
        header
          h3 대충 제목이라는 내용4
    article
      img(src='/images/slide05.jpg', alt='')
      .inner.post
        header
          h3 대충 제목이라는 내용5
          
  block main
  #main.container
    .row(class='200%')
      block left
        .6u(class='12u$(medium)')
          h2 About
          .paper
            img(src='/images/pic02.jpg', alt='')
          |대충 동아리 소개하는 내용
      block right
        .6u(class='12u$(medium)')
        
          h2 Notice
          .table
            .th
              div 제목;
              div 날짜;
            .tr
              div
                a(href='#') something...aaaaaaaaaaaaaaaaa
              div 2019-08-14
            .tr
              div
                a(href='#') bbbbbbbbbbbbbbbbb
              div 2019-08-13
            .tr
              div
                a(href='#') scacacacaccaca
              div 2019-08-13
            .tr
              div
                a(href='#') qqqqqqqqqqqqqqqqqq
              div 2019-08-13
            .tr
              div
                a(href='#') dddddddddddddddddddd
              div 2019-08-13
              
          h2 Activity
          .table
            div
              div 제목;
              div 날짜;
            div
              div
                a(href='#') something...aaaaaaaaaaaaaaaaa
              div 2019-08-14
            div
              div
                a(href='#') bbbbbbbbbbbbbbbbb
              div 2019-08-13
            div
              div
                a(href='#') scacacacaccaca
              div 2019-08-13
            div
              div
                a(href='#') qqqqqqqqqqqqqqqqqq
              div 2019-08-13
            div
              div
                a(href='#') dddddddddddddddddddd
              div 2019-08-13
            hr
            
    h2 Project
    .paper
      .left
        img(src='/images/pic02.jpg', alt='')
      .right
        h2
          a(href='#') 프로젝트 제목
        |Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.
    .paper
      .left
        img(src='/images/pic02.jpg', alt='')
      .right
        h2
          a(href='#') 프로젝트 제목
        |Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.
    .paper
      .left
        img(src='/images/pic02.jpg', alt='')
      .right
        h2
          a(href='#') 프로젝트 제목
        |Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.
