extends ../layout

block content
  #main.container
    .flex-title
      div
        h2 Notice
      div
        ul.actions
          li
            a.button.special(href='/notices/new_post') &#xCD94;&#xAC00;
